@import url("https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fefefe;
  line-height: 1.4;
}

ul {
  list-style: none;
}

.px-1 {
  padding: 0 0.5rem;
}
.px-2 {
  padding: 0 1rem;
}
.px-3 {
  padding: 0 1.5rem;
}

.py-1 {
  padding: 0.5rem 0;
}
.py-2 {
  padding: 1rem 0;
}
.py-3 {
  padding: 1.5rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}
.mx-2 {
  margin: 0 1rem;
}
.mx-3 {
  margin: 0 1.5rem;
}

.my-1 {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-1 {
  margin: 1.5rem 0;
}

button:focus {
  outline: none;
  border: none;
}

.text-input,
.text-input:focus {
  color: #333;
  height: 2.5rem;
  text-align: left;
  width: 25vw;
  margin: 1rem 0 1rem auto;

  padding: 0.4rem;
  font-size: 1.2rem;
  background-color: #fefefe;
  border: 1px solid #333;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.location-input,
.location-input:focus {
  color: #333;
  height: 2.5rem;
  text-align: left;
  width: 25vw;
  margin: 1rem 0 1rem auto;

  padding: 0.4rem;
  font-size: 1.2rem;
  background-color: #fefefe;
  border: 1px solid #333;
  border-left: 1px dashed black;
  outline: none;
}

.showcase-background {
  background: #fff url("https://source.unsplash.com/1600x900/?dinner") no-repeat
    fixed center/cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gulp-title {
  color: white;
  font: 5rem "Alata", sans-serif;
  background: rgba(51, 51, 51, 0.5);
  padding: 0 2rem;
  border-radius: 10px;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}

#search-bar {
  z-index: 5;
}

#search-btn {
  position: absolute;
  border: 1px solid #333;
  border-left: 0px;

  margin: 1rem 0 1rem auto;
  border-radius: 0 5px 5px 0;

  height: 2.5rem;
  font: inherit;
  color: white;
  background-color: #d32323;
  padding: 0.2rem 0.7rem;
}

#search-btn:hover {
  cursor: pointer;
}

.result-item {
  margin: 2.3rem 0.4rem 2.3rem 0.4rem;
}

.restaurant-card {
  padding: 1rem;
  border: #ccc 1px solid;
  border-radius: 7px;
  margin: 2rem auto;
  width: 60%;
}

.restaurant-section {
  display: flex;
  margin-bottom: 2rem;
}

.restaurant-image {
  height: 170px;
  width: 170px;
  border-radius: 4px;
  margin-right: 1rem;
}

.info-section {
  width: 100%;
  position: relative;
}

.info-section,
.info-section h3,
.info-section p {
  text-align: left;
}

.restaurant-title {
  font-size: 1.25rem;
  width: 18.75rem;
}

.categories {
  font-size: 1rem;
  color: #454545;
}

.rating {
  display: flex;
  position: absolute;
  bottom: 25%;
}
.rating img {
  width: 204px;
  height: 36px;
}

.rating p {
  color: #676767;
  align-self: center;
  font-size: 1rem;
}

.address p {
  font-size: 0.8rem;
  position: absolute;
  width: 100px;
  text-align: right;
  top: 0;
  right: 0;
}

.reviews-seperator {
  border: 1px dashed #ccc;
}

.review-item {
  position: relative;
  margin: 1rem 0rem 2rem 1rem;
}

.review-topbar {
  display: flex;
  align-items: center;
}

.review-topbar p {
  text-align: center;
  margin-right: 1rem;
}

.user-image {
  width: 50px;
  height: 50px;
  margin: 0.75rem 0.75rem 0.75rem 0;
  border-radius: 4px;
}

.review-rating {
  width: 176px;
  height: 30px;
}

.review-text {
  text-align: left;
  margin-left: 3.75rem;
}

.loading-tip {
  color: #333;
  font-size: 1.2rem;
  padding: 20px 0;
}
